mixin faq()
  section.faq
    .faq__bg-image
      img(src="img/svg/faq-bg-blue.svg", alt="")
      img(src="img/content/faq-bg-vector-2.png", alt="")
    .container
      .faq__content
        h2.faq__title.title.title--h2 Ответы на самые популярные вопросы в сфере

        .faq__list
          - for (var i = 1; i <= 5; i++)
            - var isActive = (i === 2) ? true : false
              +accordion(
                "Lorem ipsum dolor sit amet consectetur. Ultrices aliquam.",
              [
                "Like the phrase “stem cell” itself, “stem cell therapy” is often used to describe a variety of different medical therapies that utilize stem cells in some form to treat a patient. Sometimes the term is used incorrectly to refer to platelet rich plasma (PRP) injections. The term is also used to refer to stem cell transplants, also known as bone marrow transplants.",
                "Most commonly “stem cell therapy” is used to describe a procedure where the patient’s adult stem cells and other potentially regenerative cells are harvested from a tissue sample of either fat or bone marrow taken from the patient. These concentrated regenerative cells are then used to treat specific injuries typically by injecting them into the afflicted area. It should be said that this type of stem cell therapy is currently not FDA approved and clinics performing it illegally in the US or in other countries perform various versions of the procedure to treat illnesses and injuries with little to no clinical evidence.",
                "At InGeneron we use the term “regenerative cell therapy” since there are many different cell types and regenerative properties collected and used by our therapy along with adult stem cells. Importantly we do not treat patients outside of our approved clinical trials and we are dedicated to securing FDA approval through rigorous clinical testing."
              ],
              isActive
              )

mixin accordion(title, descriptions, isActive)
  .accordion(class=isActive ? "active" : "")
    .accordion__header
      h3.accordion__title= title
      button.accordion__toggle.btn(type="button")
        +icon("icon-arrow-left", 6, 13)
    .accordion__content
      each description in descriptions
        p.accordion__description= description
