.benefits {
  --main-circle-size: 157px;
  --petal-size: 112px;
  --main-color: #ff7c7c;
  --petal-color: #07086C;
  height: 1270px;
  position: relative;

  background-color: #F2F2F4;
  padding-bottom: 50px;

  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__title {
    font-family: "futurafuturisc-bold";
    font-weight: 700;
    color: #111111;
    font-size: 45px;
    line-height: 45px;
    text-align: center;
  }

  &__paragraph {
    font-family: "futurabookc";
    font-weight: 400;
    color: #030303;
    font-size: 22px;
    line-height: 24px;
    text-align: center;
    padding: 0 110px;
    margin-bottom: 42px;
  }

  .flower {
    position: relative;
    width: var(--main-circle-size);
    height: var(--main-circle-size);
  }

  .circle {
    position: absolute;
    width: var(--petal-size);
    height: var(--petal-size);
    border-radius: 50%;
    background-color: var(--main-color);
  }

  .petal {
    background-color: var(--petal-color);
    width: var(--petal-size);
    height: var(--petal-size);
    opacity: 10%;
    position: absolute;
  }

  .petal.one {
    top: -10px;
    left: 30px;
    background-color: #07086C;
    opacity: 10%;
  }

  .petal.two {
    bottom: 10px;
    left: -10px;
  }

  .petal.three {
    bottom: 0;
    right: 0;
  }

  .main {
    width: 112px;
    height: 112px;
    border-radius: 1000px;
    background: linear-gradient(to bottom, #040A57 0%, #07086C 50%, #3A23E6 100%);
    position: relative;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10000;
    }
  }
}

.benefits {
  background-color: #F2F2F4;
}

.benefits__list {
  display: grid;
  grid-template-columns: repeat(3, 369px);
  grid-gap: 43px;
  justify-content: center;
}

.benefits__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 369px;
  padding: 40px 32px 39px;
  background-color: $color-default-white;
  border-radius: 10px;
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    bottom: -350px;
    right: -190px;
    width: 442px;
    height: 442px;
    background-color: #000;
    background-color: #5172C4;
    opacity: 7%;
    transform: rotate(45deg);
    border-radius: 30px;
  }

  h3 {
    font-family: "futurafuturisc-bold";
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #2A336C;
    text-align: center;
  }

  p {
    font-family: "futurabookc";
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: #555555;
    text-align: center;
  }
}
