.faq {
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0;
  z-index: 1010;

  .container {
    min-height: 1100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__bg-image {
    width: 100%;
    height: 100%;
    position: relative;
    img {
      width: 100%;
    }

    img:last-child {
      position: absolute;
      top: 0;
    }
  }
  &__title {
    font-size: 45px;
    line-height: 45px;
    color: $color-default-white;
    text-align: center;
  }

  .accordion {
    margin-bottom: 13px;
    .accordion__content {
      display: none;
    }

    &.active {
      .accordion__content {
        display: block;
      }
    }

    &.active {
      .accordion__header {
        background: linear-gradient(to bottom, #969AF7 0%, #686EEC 100%);
      }
      .accordion__toggle {
        background-color: $color-default-white;
        color: black;

        svg {
          fill: currentColor;
          transform: rotate(90deg);
        }
      }
    }
  }

  .accordion__title {
    font-family: "futura-cyrillic-demi";
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
    margin: 0;
  }

  .accordion__content {
    font-family: "futurabookc";
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    font-weight: 400;
    padding: 39px 53px;
    background-color: $color-default-white;
    margin-top: -10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .accordion__header {
    padding: 25px 53px;
    background: linear-gradient(to bottom, #FFFFFF 0%, #BDC0FF 100%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    position: relative;

    .accordion__toggle {
      background-color: #757AEF;
      border-radius: 100px;
      border: none;
      width: 40px;
      height: 40px;
      color: $color-default-white;

      svg {
        transform: rotate(-90deg);
        fill: currentColor;
      }
    }
  }

  .accordion__description {
    margin-bottom: 20px;
    border-radius: 10px;
  }
}
