.form {
  border-radius: 10px;
  overflow: hidden;

  &__header {
    min-height: 110px;
    background: linear-gradient(to bottom, #6A32B4 100%, #552693 100%);
    color: $color-default-white;
    padding: 30px 40px;
    padding-bottom: 0;
    display: flex;
    align-items: end;
    justify-content: end;
    text-align: center;
  }

  &__body {
    padding: 30px 40px;
    background-color: #fff;
  }

  &__title {
    margin: 0;
    padding: 0 20px;
    font-size: 23px;
    line-height: 27px;
  }

  &__input-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    label {
      margin-bottom: 10px;
      font-family: "futurabookc";
      font-size: 18px;
      line-height: 23px;
      color: #626366;
    }

    input {
      border-radius: 10px;
      border: none;
      outline: none;
      box-shadow: 1px 1px 3px 0px #0000001A inset;
      background-color: #F5F3FF;
      padding: 20px;
    }

    input:placeholder {
      font-family: "futurabookc";
      color: #BCBFC4;
      font-size: 20px;
      line-height: 26px;
    }
  }

  &__privacy {
    font-family: "futurabookc";
    font-weight: 400;
    color: #C0C0C0;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
  }

  &__submit {
    padding: 20px;
    font-family: "futurafuturisc";
    font-weight: 400;
    background-color: #FFA500;
    color: $color-default-white;
    font-size: 18px;
    line-height: 19px;
    text-transform: uppercase;
    margin-bottom: 17px;
    border-radius: 10px;
    width: 100%;
    margin-top: 34px;
  }
}
