.header {
  padding: 28px 0;
  z-index: 100;

  .container {
    display: flex;
    align-items: center;
  }

  &__logo {
    color: $color-default-white;
    margin-right: 62px;
  }

  background-color: transparent;
  position: absolute;
  width: 100%;
}
