.main-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;

  &__list {
    width: 836px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    margin-right: 20px;
    margin-left: 60px;
    padding: 0;

    list-style: none;
    margin-left: 0;
  }

  &__item {
    margin-right: 36px;
    color: $color-default-white;
  }

  &__link {
    font-size: 18px;
    line-height: 22px;
    color: $color-default-white;
    font-family: "futura-cyrillic-light";
    font-weight: 300;
    transition: opacity $trans-default;

    @include hover-focus {
      opacity: 0.8;
    }
  }

  &__phone {
    margin-left: auto;

    .main-nav__link {
      display: flex;
      align-items: center;
    }
  }

  &__num-wrapper {
    font-size: 18px;
    line-height: 22px;
    color: $color-default-white;
    margin-left: auto;
    display: inline-flex;
    align-items: baseline;

    .main-nav__span-light {
      font-size: 18px;
      line-height: 22px;
      color: $color-default-white;
      font-family: "futura-cyrillic-light";
      font-weight: 300;
    }

    .main-nav__span-bold {
      font-family: "futurafuturisc-bold";
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
    }
  }

  &__icon-wrapper {
    width: 33px;
    height: 33px;
    background-color: $color-default-white;
    display: flex;
    align-items: center;
    border-radius: 100px;
    justify-content: center;
    margin-right: 5px;
  }
}
