.title {
  &--h1 {
    font-family: "futurafuturisc-bold";
    font-weight: 700;
    font-size: 69px;
    line-height: 69px;
    color: $color-default-white;
  }
  &--h2 {
    font-family: "futurafuturisc-bold";
    font-weight: 700;
    font-size: 45px;
    line-height: 45px;
  }
  &--h3 {
    font-family: "futurafuturisc-bold";
    font-weight: 700;
    font-size: 45px;
    line-height: 45px;
  }
}
