.workflow {
  height: 1098px;
  position: relative;
  margin-top: -60px;
  margin-bottom: -70px;
  background-color: #F2F2F4;

  &__item-bg {
    position: absolute;
    top: 0;
  }

  &__item:first-child svg {
    right: -20px;
  }

  &__item:nth-child(2) svg {
  right: -10px;
  }

  &__item:nth-child(4) svg {
    right: 5px;
  }

  &__item:nth-child(5) svg {
    right: 15px;
  }

  &__item:nth-child(6) svg {
    right: 25px;
  }

  &__item {
    border-radius: 20px;
    position: relative;
    counter-increment: item;
    max-height: 268px;

    &::after {
      content: '';
      position: absolute;
      bottom: -400px;
      right: -165px;
      width: 442px;
      height: 442px;
      background-color: $color-default-white;
      opacity: 6%;
      transform: rotate(45deg);
      border-radius: 30px;
    }

    span {
      font-family: "futurafuturisc-bold";
      font-weight: 700;
      font-size: 36px;
      line-height: 42px;
      font-weight: bold;
      position: absolute;
      top: 39px;
      left: 38px;
    }

    &::before {
      position: absolute;
      top: 50%;
      right: -15px;
      width: 132px;
      height: 140px;
      background: inherit;
      transform: translateY(-50%) rotate(90deg);
      clip-path: polygon(0 25%, 50% 0, 100% 25%, 50% 100%);
      z-index: -1;
      background-color: #0926C0;
      z-index: -1;
    }

    h3 {
      font-family: "futurafuturisc-bold";
      font-weight: 700;
      color: $color-default-white;
      font-size: 18px;
      line-height: 25px;
      text-transform: uppercase;
      margin: 0;
      margin-bottom: 20px;
    }

    p {
      font-family: "futurabookc";
      font-weight: 400;
      color: #E3E3E3;
      font-size: 18px;
      line-height: 25px;
      margin: 0;
      margin-bottom: 20px;
    }
  }

  &__item:nth-child(3)::before,
  &__item:nth-child(6)::before {
    display: none;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 439px);
    justify-content: center;
    justify-content: center;
    gap: 30px 0;
    margin-bottom: 49px;
    counter-reset: item;
  }

  &__item-wrapper {
    position: relative;
    padding: 40px 60px;
    padding-right: 40px;
    padding-left: 100px;
    overflow: hidden;
    height: 100%;

    &::before {
      position: absolute;
      top: 50%;
      right: calc(100% - 15px);
      width: 132px;
      height: 140px;
      background: transparent;
      background: pink;
      background-color: $color-default-white;
      transform: translateY(-50%) rotate(90deg);
      clip-path: polygon(0 25%, 50% 0, 100% 25%, 50% 100%);
      z-index: 1;
    }

    &::after {
      position: absolute;
      bottom: -400px;
      right: -200px;
      width: 442px;
      height: 442px;
      background-color: $color-default-white;
      opacity: 6%;
      transform: rotate(45deg);
      border-radius: 30px;
    }
  }

  &__title {
    font-size: 45px;
    line-height: 45px;
    text-align: center;
  }

  &__paragraph {
    font-family: "futurabookc";
    font-weight: 400;
    text-align: center;
    font-size: 22px;
    line-height: 22px;
  }

  &__item-title {
    font-size: 18px;
    line-height: 25px;
    color: $color-default-white;
    margin-bottom: 28px;
  }

  &__item-desc {
    font-size: 18px;
    line-height: 27px;
    color: $color-default-white;
  }

  &__btn {
    color: $color-default-white;
    background-color: #FFA500;
    border-radius: 10px;
    padding: 18px 72px;
    border: none;
    margin: 0 auto;
    display: block;
    z-index: 1000;
    position: relative;
  }

  &__bg-image {
    img {
      width: 100%;
    }
  }

  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
