// @font-face {
//   font-style: normal;
//   font-weight: 400;
//   font-family: "Rouble";

//   font-display: swap;
//   src:
//     url("../fonts/rouble.woff2") format("woff2");
// }

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "";

  font-display: swap;
  src: url("../fonts/.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "futuralt-book";

  font-display: swap;
  src: url("../fonts/futuralt-book.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "futuralt-book";

  font-display: swap;
  src: url("../fonts/futuralt-book.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "futurabookc";

  font-display: swap;
  src: url("../fonts/futurabookc.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "futurabookc";

  font-display: swap;
  src: url("../fonts/futurabookc.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "futurabookctt-normal";

  font-display: swap;
  src: url("../fonts/futurabookctt-normal.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "futurabookctt-normal";

  font-display: swap;
  src: url("../fonts/futurabookctt-normal.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "futurafuturisc";

  font-display: swap;
  src: url("../fonts/futurafuturisc.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "futurafuturisc";

  font-display: swap;
  src: url("../fonts/futurafuturisc.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "futurafuturisc-bold";

  font-display: swap;
  src: url("../fonts/futurafuturisc-bold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "futurafuturisc-bold";

  font-display: swap;
  src: url("../fonts/futurafuturisc-bold.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "futuralt-light";

  font-display: swap;
  src: url("../fonts/futuralt-light.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "futuralt-light";

  font-display: swap;
  src: url("../fonts/futuralt-light.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "futuralightc";

  font-display: swap;
  src: url("../fonts/futuralightc.otf") format("otf");
}

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "futura-cyrillic-light";

  font-display: swap;
  src: url("../fonts/futura-cyrillic-light.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "futura-cyrillic-light";

  font-display: swap;
  src: url("../fonts/futura-cyrillic-light.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "futura-cyrillic-demi";

  font-display: swap;
  src: url("../fonts/futura-cyrillic-demi.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "futura-cyrillic-demi";

  font-display: swap;
  src: url("../fonts/futura-cyrillic-demi.woff2") format("woff2");
}

