mixin header(headerMods)
  -
    const headerLinks = [
      {
        href: "index.html",
        text: "Каталог"
      },
      {
        href: "#",
        text: "Производители"
      },
      {
        href: "#",
        text: "Для  кого мы работаем"
      },
      {
        href: "#",
        text: "Сертификаты"
      },
      {
        href: "#",
        text: "О нас"
      },
      {
        href: "#",
        text: "FAQ"
      },
      {
        href: "#",
        text: "Контакты"
      },
    ]

  header.header(class=headerMods, id="top")
    .container
      a(href="index.html" aria-label="Переход на главную").header__logo
        +img("content", "logo-img", "png", 155, 28, "semitex")
      nav.main-nav
        ul.main-nav__list
          each link in headerLinks
            li.main-nav__item
              a.main-nav__link(href=link.href)= link.text

        .main-nav__phone
          a.main-nav__link(href="tel:+78123135845")
            span.main-nav__icon-wrapper
              +icon("icon-phone", 14, 14)
            span.main-nav__num-wrapper
              span(class="main-nav__span-light") +7 (812)&nbsp;
              span(class="main-nav__span-bold") 313-58-45
