doctype html

include ../components

block variables

html(lang="en")
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="description", content="Semitex")
    if (openGraf)
      meta(property="og:title", content="Semitex")
      meta(property="og:type", content="article")
      meta(property="og:description", content="Оптовые поставки электронных компонентов")

    link(rel="stylesheet", href="css/style.min.css")

  body
    .wrapper(class=wrapperMods)
      if (hasHeader)
        +header(headerMods, currentUrl)

      block main

      if (hasFooter)
        +footer(footerMods)

    block modals

    script(src="js/vendor.min.js")
    script(src="js/main.min.js")
